body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: #9F7FFF;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#lobby,
#game {
  grid-template-columns: auto;
  background: white;
  border: 2px solid #000000;
  padding: 40px;
  width: 320px;
  box-shadow: 10px 10px 0 #000000af;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #000000dc;
  box-shadow: 3px 3px 0 #000000af;
  font-size: 14px;
}

button {
  margin-top: 20px;
  background-color: #ffcc00;
  border: 2px solid #000000;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 0 #000000af;
  font-size: 16px;
}

button:hover {
  background-color: #ffeb3b;
}

#rooms {
  margin-bottom: 10px;
}

#scores,
#question,
#answers,
#scoreboard {
  margin: 10px 0;
}

.room-button:hover {
  background-color: #0057b3bf;
}

.room-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0056b3;
}

#playerTurn {
  font-weight: bold;
  margin: 10px 0;
}

#answers button {
  display: block;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

#answers button:hover {
  background-color: #0056b3;
}

.fade-out {
  opacity: 0.5;
  pointer-events: none; /* Prevent clicking */
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  pointer-events: auto; /* Allow clicking */
  transition: opacity 0.3s ease;
}

/* styles.css */
#timer {
  font-size: 1.2em;
  color: red;
  margin-top: 10px;
}


